<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<main class="container">
    <form th:action="@{posts/create}"  th:method="post">
     Title:
        <input type="text" name="title" >
        <br>
       Body:
        <input name="body"/>
        <br/>
        <input type="submit" value="submit">
    </form>


</main>

<div th:replace="partials/partialScriptBs :: bsScript"></div>
<footer th:replace="partials/partials :: footer"></footer>
</body>
</html>
