<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>

<main class="container">
    <div class=""></div>
    <form th:action="@{/posts/create}"  th:method="post">
        <h1 style="color: darkgrey">Create a New Post</h1>
        Title:
        <br>
        <input  class="ml-1" name="title"  />
        <br>
        Body:
        <br>
        <textarea name="body"></textarea>
        <br/>
        <input class="btn btn-primary" type="submit" />
    </form>


</main>

<div th:replace="partials/partialScriptBs :: bsScript"></div>
<footer th:replace="partials/partials :: footer"></footer>
</body>
</html>
