<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<br>
<h1 style="color: darkgrey">
     Post #<span th:text="${post.id}"></span> :
    <br>
</h1>
<div class="container">
    <div class="card my-1 mx-1 p-2">
        <h3 th:text="${post.title}"></h3>
        <h5 th:text="${post.body}"></h5>
        <p>Created by<span th:text="${post.owner.email}"></span></p>
    </div>
    <div class="container row">
        <form th:action="@{/posts/{id}/edit(id=${post.getId()})}" method="get" class="mr-1">
            <button class="btn btn-primary">Edit</button>
        </form>
        <form th:action="@{/posts}" method="get" class="mr-1">
            <button class="btn btn-secondary">All Posts</button>
        </form>
        <form th:action="@{/posts/{id}/delete(id=${post.getId()})}" method="post" class="mr-1">
            <button class="btn btn-danger">Delete</button>
        </form>
        </div>
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.

        User ID: <span th:text="${#authentication.principal.id}"/>
        Username: <span th:text="${#authentication.principal.username}"/>
        Email: <span th:text="${#authentication.principal.email}"/>
    </div>
</div>
<div th:replace="partials/partialScriptBs :: bsScript"></div>
<br>
<!--<a href=/posts"> go to all posts</a>-->
<br>
<footer th:replace="partials/partials :: footer"></footer>
</body>
</html>
