<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: navbar"></nav>
<h1>Guess a Number</h1>
<!--anchors to pages-->
<a href="/roll-dice/1">1</a>
<a href="/roll-dice/2">2</a>
<a href="/roll-dice/3">3</a>
<a href="/roll-dice/4">4</a>
<a href="/roll-dice/5">5</a>
<a href="/roll-dice/6">6</a>


<h1 th:if="${correct}">Correct!</h1>
<h1 th:if="${correct == false}">Try Again</h1>


<br>
<footer th:replace="partials/partials :: footer"></footer>
<!--bootstrap script-->
<div th:replace="partials/partialScriptBs :: bsScript"></div>
</body>
</html>
